<ion-card>

    <ion-card-content>
        <p>Match Making {{matchMaking.id}}</p>

        <ion-item *ngFor="let participant of participants$ | async">

            <ion-avatar item-start *ngIf="!participant.user.photoURL">
                <ngu-letter-avatar avatar-data='{{participant.user.displayName}}' avatar-shape='round' avatarborder='true' avatar-height="40"
                    avatar-width="40" avatar-font-size="20"></ngu-letter-avatar>
            </ion-avatar>
            <ion-avatar item-start *ngIf="participant.user.photoURL">
                <img [src]="participant.user.photoURL">
            </ion-avatar>

            <h2>{{participant.user.displayName}}</h2>
            <p>Rank : {{participant.user.rank}}</p>
        </ion-item>


    </ion-card-content>

    <ion-row>
        <ion-col>
            <button ion-button icon-left clear small color="danger" (click)="cancel()">
                Cancel
            </button>
        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col>
            <button ion-button icon-left clear small (click)="join()" *ngIf="!full">
                Join
            </button>
            <button ion-button icon-left clear small (click)="pushMatchPage()" *ngIf="full">
                Open
            </button>
        </ion-col>

    </ion-row>

</ion-card>